<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>

<h1>Articulos</h1>
    <ul>
        
        <% @articles.each do |t| %>
            <li>
                <a href="<%= article_path(t)%>">            
                    <%= t.title %>
                </a>
            </li>
        <% end %>
    </ul>
<h1>Articulos funcionamiento link</h1>
    <ul>        
        <% @articles.each do |t| %>
            <li>
                <%= link_to t.body, t %>
            </li>
        <% end %>
    </ul>
    <%= link_to "New article", new_article_path %>
</html>