<div>
<%= link_to 'Volver', :back, class: "px-4 py-2 bg-blue-500 text-white rounded mt-4" %>
<h1 class="text-4xl font-bold mb-4">Nuevo Artículo</h1>
<%= render "form", article: @article %>
</div>
